name: My first workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:

        - name: checkout repo
          uses: actions/checkout@v4

        - name: welcomemessage
          run: echo "My frist github actions job"

        - name: List files
          run: ls

        - name: read file
          run: cat README.md

